
/* ------------------------------------------------------- */
/*   COULEURS DES TITRES                                   */
/* ------------------------------------------------------- */

h1 {
  color: #F57C00; /* Orange avatar */
}

h2 {
  color: #4A4238; /* Anthracite */
}

/* Titre "Code et Création" */
.site-title,
.sidebar .site-title,
.navbar .site-title {
  color: #4A4238 !important;
}

