/* TITRES */
h1 {
  color: #1977cc;
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.2;
}

h2 {
  color: #446069;
  margin-top: 1em;
  margin-top: 1.2em;
  margin-bottom: 0.3em;
}

h3 {
  color: #204964;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

/* Paragraphes */
p {
  line-height: 1.5;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

/* Images */
img {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
}
